<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/common.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=E8k0hkMHteAkrUj9ZXkAARzh"></script>
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
</head>
<body>
  <div id="map"></div>
  <div id="table">
    <div id="select"></div>
    <div id="title"></div>
    <div id="points"></div>
    <div id="progress"></div>
  </div>
</body>
<script src="./static/js/common.js"></script>
<script src="./static/js/index.js"></script>
</html>
